<body>
  <h1>Order Confirmed</h1>

<div class="show-food card mx-auto" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
<img src="https://images.unsplash.com/photo-1531263539449-56fdf29dfc4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top img-fluid" alt="food image">
</div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"><%= @food.name %></h2>
        <p class="card-text"><strong>Freshness: </strong><%= @food.freshness %></p>
        <p class="card-text"><strong>Price: </strong><%= @food.price %></p>
        <p class="card-text"><%= @food.location %></p>
        <p class="card-text"><small class="text-muted"><%= @food.updated_at %></small></p>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for([@food, @order, @review]) do |f| %>
  <%= f.input :rating %>
  <%= f.submit "Review", class: "btn btn-primary" %>
<% end %>
</body>
