<body>
  <h1>Order Confirmed</h1>

  <div class="show-food card mx-auto" style="max-width: 1000px;">
    <div class="row">
      <div class="col-md-4">
        <img src="https://source.unsplash.com/1600x900/?<%= @food.name %>" class="card-img-top img-fluid" alt="food image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title"><%= @food.name %></h2>
          <p class="card-text">Freshness:
              <%= render partial: 'shared/food_emoji', locals: {food: @food}%></p>
            <p class="card-text">Rating:
              <%= simple_form_for([@order.food, @order, @review]) do |f| %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
              <%= f.submit class: "d-none" %>

              <% end %>
            </p>
            <p class="card-text index-card-price"><strong><i class="fas fa-dollar-sign"></i>  </strong><%= @food.price %></p>
            <p class="card-text"><%= @food.location %></p>
            <p class="card-text"><small class="text-muted"><%= @food.updated_at %></small></p>
        </div>

      </div>
    </div>
  </div>
</body>

