<div class="banner" style="background-image: url(<%= image_path "people-shared" %> )">
  <div class="search-form-wrapper col-4 col-md-4 offset-md-1 col-xl-4 offset-xl-1">
    <%= render 'shared/search-form' %>
  </div>
</div>

<%= raise %>
<div class="container index-container">
<div class="row">
  <% @foods.each do |food| %>
  <% if food.order.empty? %>
  <div class="col-md-4 col-sm-12">
  <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
  <div class="card mb-3 home-card">
    <% if food.photo.url.nil? %>
    <img src="https://source.unsplash.com/1600x900/?<%= food.name %>" class='card-img-top' alt="food-image">
    <% else %>
    <%= cl_image_tag food.photo %>
    <% end %>
      <div class="card-body">
      <div>
        <h2 class="card-title"><%= food.name  %></h2>
        <p class="card-text">Freshness:
        <%= render partial: 'shared/food_emoji', locals: {food: food}%></p>
        <p class="card-text index-card-price"><strong><i class="fas fa-dollar-sign"></i>  </strong><%= food.price %></p>
      </div>
    </div>
  </div>
  </div>
</div>
  <% end %>
  <% end %>
</div>
  <%= javascript_pack_tag 'typed' %>
</div>

