<%= simple_form_for(@food) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="row justify-content-md-center">
  <div class="form-inputs card">
    <li class="btn btn-light">
      <%= f.input :name %>
    </li>
    <li class="btn btn-light">
      <%= f.input :prepared_at, placeholder: 'Time since food was partially eaten', as: :string, required: false, input_html: {class: "datepicker"} %>
    </li>
    <li class="btn btn-light">
      <%= f.input :location %>
    </li>
    <li class="btn btn-light">
      <%= f.input :price %>
    </li>
    <li class="btn btn-light">
      <%= f.input :photo %>
    </li>
    <li type="button" class="btn btn-success">
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit %>
      </button>
    </li>
  </div>
</div>
<% end %>
