<p id="notice"><%= notice %></p>

<h1>Leftovers!</h1>

<table class=" table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Freshness</th>
      <th>Location</th>
      <th>Description</th>
      <th>Price</th>
      <th>Show</th>
      <th>hello</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.freshness %></td>
        <td><%= food.location %></td>
        <td><%= food.description %></td>
        <td><%= food.price %></td>
        <td><%= link_to 'Show', food %></td>
        <td>
          <% if policy(food).edit? %>

          <%= link_to 'Edit', edit_food_path(food) %>
          <% end %>
        </td>
        <td>
          <% if policy(food).destroy? %>
          <%= link_to 'Destroy', method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

<br>

<%= link_to 'Add your leftovers!', new_food_path %>
