

<div class="card">
 <img src="https://images.unsplash.com/photo-1531263539449-56fdf29dfc4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="food image">
   <div class="card-content">
    <div class="card-head">
    <h2><%= @food.name %></h2>
    <%= link_to edit_food_path, class: "show-icons" do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to food_path(@food), method: :delete, class: "show-icons" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        </div>
        <div class="card-body">
  <p><strong>Freshness: </strong><%= @food.freshness %></p>
  <p><strong>$</strong><%= @food.price %></p>
  <p><%= @food.description %></p>
  </div>
  <a href="#" class="btn btn-round btn-success">Bite it!</a>
    </div>
</div>


