<div class="dashboard-head row justify-content-between m-5" >
<h1>Dashboard</h1>
<%= link_to "Couldn't finish something?", new_food_path %>
</div>

<h1>My Average Seller Rating: <%= current_user.avg_rating %></h1>

<div class="container">
<h2>What you've shared</h2>
<div class="row justify-content-md-center mb-5">
    <% @foods.each do |food| %>
    <div class="col-md-4 col-sm-12">
        <div class="dashboard-card">
      <div class="card">
          <img class="card-img-top card-img" src="https://source.unsplash.com/random" alt="food-image">
          <div class="dashboard-card-content">
      <h5 class="card-title"><%= food.name %></h5>
      <p class="card-text"><%= food.description %></p>
      <p class="card-text"><%= food.freshness %></p>
      <p class="card-text"><%= food.price %></p>
      <p> <%= link_to 'Show', food %></p>
      </div>
  </div>
  </div>
</div>
    <% end %>
</div>

<h2>What you've warmed up</h2>
<div class="row justify-content-md-center">
    <% @orders.each do |order| %>
    <div class="col-md-4 col-sm-12">
    <div class="dashboard-card">
  <div class="card">
  <img class="card-img-top card-img" src="https://source.unsplash.com/random" alt="food-image">
  <div class="dashboard-card-content">
      <h5 class="card-title"><%= order.food.name %></h5>
      <p class="card-text"><%= order.food.description %></p>
      <p class="card-text"><%= order.food.freshness %></p>
      <p class="card-text"><%= order.food.price %></p>

      <%= cl_image_tag order.food.photo, class: "card-text" %>

      <p> <%= link_to 'Show', order %></p>
    </div>
  </div>
</div>
</div>
    <% end %>
</div>


